# Large data files
*.csv
*.xlsx
*.npy
*.zip
*.txt
models/

# SysEvalOffTarget raw data
SysEvalOffTarget/files/
SysEvalOffTarget/.git/

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc